/* Remove the navbar's default margin-bottom and rounded borders */
   .navbar {
     margin-bottom: 0;
     border-radius: 0;
   }
   .output {
  display: none;
}
   /*Set container background color*/
.background {
  background-color: #f2f2f2;
}
